@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
  width: 1200px;
}

/*---------------------HEADER---------------------*/
.header-page {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
}

.header-logo-link {
  margin-right: 30px;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-list {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  width: 622px;
  list-style: none;
}

.header-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  padding: 20px 16px;

}

.user-list {
  display: flex;
  justify-content: flex-end;
  width: 268px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.button {
  font-family: inherit;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  border-radius: 4px;
  border-style: none;
}

.button:hover {
  background-color: #927c71;
}

.button-header {
  padding: 8px 34px;
  width: 160px
}

.user-link {
  background-position: center;
  background-repeat: no-repeat;
  padding: 22px 12px 22px 12px;
}

.user-link-search {
  background-image: url("../images/search.svg");
}

.user-link-like {
  background-image: url("../images/like.svg");
  text-decoration: none;
  margin-right: 8px;
}

.user-count {
  font-family: "PT sans";
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 10px;
}

/*---------------------MAIN---------------------*/

.hero {
  background-image: url("../images/index-background.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  background-color: #242424;
  padding: 51px 381px 82px 381px;
}

.main-page {
  text-align: center;
}

.content-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.advantages {

}

.advantages-content-block {
  padding-top: 69px;
  padding-bottom: 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.advantages-item-wide {
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages-item-color {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-color-other {
  background-color: rgba(131, 179, 211, 0.2);
}

.item-wide-reverse {
  flex-direction: row-reverse;
}

.wide-photo {
  padding: 101.2px 85px;
}

.advantages-item {
  padding: 100px 85px;
  width: 230px;
}

.content-text {
  font-size: 22px;
  line-height: 26px;
}

.services-list {
  display: flex;
  list-style: none;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.services-item {
  min-height: 223px;
  width: 230px;
  padding: 81px 85px;
  align-items: center
}

.services-item-color {
  background: rgba(131, 179, 211, 0.12);
}

.services-images {
  padding: 0 77.5px 0 77.5px;
}

.advices {
  padding: 64px 0 64px 0;
}

.damn {
  padding-top: 20px;
  margin: 0;
}

.block-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.block-description {
  font-size: 18px;
  line-height: 21px;
}

.hotels-search {
  padding: 96px 304px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

/*---------------------FOOTER---------------------*/

.content {
  text-align: center;
  padding: 258px 258px 104px 258px;
}

.content-teased {
  color: #ffffff;
  background-image: url("../images/footer-background.jpg");
  background-color: #242424;
  background-size: cover;
}

.submit {
  display: flex;
  align-items: center;
}

.input {
  border-style: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  width: 452px;
  height: 50px;
}

.submit-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  color: #ffffff;
  border-style: none;
  padding: 8px 50px 8px 40px;
  width: 232px;
  height: 50px;
}

.submit-button:hover {
  background-color: #98beda;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px 70px;

}

.social-network {
  display: flex;
  justify-content: space-between;
  width: 300px;
  list-style: none;
  padding: 0;
}

.social-network-link {
  background-position: center;
  background-repeat: no-repeat;
}

.html-academy-link {
  width: 300px;
  text-align: right;
}

.tel {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: inherit;
}

.vk {
  background-image: url("../images/vk.svg");
}

.telegram {
  background-image: url("../images/telegram.svg");
}

.youtube {
  background-image: url("../images/youtube.svg");
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}
